@{
    ViewData["Title"] = "Administracion";
    var EliminacionCorrecta = ViewData["EliminacionCorrecta"] as string;
    var EdicionCorrecta = ViewData["EdicionCorrecta"] as string;
    var ErrorBorrarAsiMismo = ViewData["ErrorBorrarAsiMismo"] as string;
    var error = ViewData["error"] as string;
}

<div class="container py-4 mt-5">

	<div class="card bg-transparent">
		<div class="card-header">
			<h3>Listado usuarios</h3>
		</div>
    </div>
    @if (ViewBag.Usuarios != null)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th class="table-dark">id</th>
                    <th class="table-dark">Nombre y apellidos</th>
                    <th class="table-dark">Email</th>
                    <th class="table-dark">Teléfono</th>
                    <th class="table-dark">Fecha de registro</th>
                    <th class="table-dark">Cuenta activa</th>
                    <th class="table-dark">Rol</th>
                    <th class="table-dark" asp:authorize="User.IsInRole('ROLE_4')">Edición</th>
                    <th class="table-dark" asp:authorize="User.IsInRole('ROLE_4')">Eliminado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in ViewBag.Usuarios)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@(usuario.NombreUsuario + (usuario.ApellidosUsuario != null ? " " + usuario.ApellidosUsuario : ""))</td>
                        <td>@usuario.EmailUsuario</td>
                        <td>@usuario.TlfUsuario</td>
                        <td>@usuario.FchAltaUsuario</td>
                        <td>
                            @if (usuario.CuentaConfirmada)
                            {
                                <span>&#10004;</span>
                            }
                            else
                            {
                                <span>❌</span>
                            }
                        </td>
                        <td>@usuario.Rol</td>
                        <td>
                            @if (usuario.Rol == "ROLE_4")
                            {
                                <span>❌</span>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="Editar" asp-controller="Administracion" asp-route-id="@usuario.Id">
                                    Editar
                                </a>
                            }
                            
                        </td>
                        <td>
                            <a class="btn btn-danger" data-id="@usuario.Id" onclick="confirmarEliminar(event)"> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
        else
        {
            <h5 class="card-title text-center text-danger">No hay usuarios registrados</h5>
        }


    @if (!string.IsNullOrEmpty(EliminacionCorrecta))
    {
        <script>
            mostrarNotificacion("¡Usuario eliminado!", "Se ha borrado exitosamente", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(EdicionCorrecta))
    {
        <script>
            mostrarNotificacion("¡Cambios guardados!", "El usuario ha sido modificado", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(ErrorBorrarAsiMismo))
    {
        <script>
            mostrarNotificacion("¡No te puedes eliminar a ti mismo!", "Debe ser otro administrador quien realice esta acción", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }
    
</div>
