@{
}
@if (ViewBag.CategoriaTodasDTO != null)
{
    <div class="text-center">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between px-3">
                @foreach (var categoria in ViewBag.CategoriaTodasDTO)
                {
                    <a class="p-2 link-secondary" onclick="confirmarRedireccionCategoria(event)"
                       data-idCategoria="@categoria.IdCategoria"
                       data-isLoggedIn="@User.Identity.IsAuthenticated.ToString().ToLower()">
                        @categoria.TipoCategoria
                    </a>
                }
            </nav>
        </div>
    </div>
}
<div class="row col-12 d-flex mb-2">
    @if (ViewBag.NoticiasPorCategoria != null)
    {

        @foreach (var noticia in ViewBag.NoticiasPorCategoria)
        {
            <div class="row col-6 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"><span>@noticia.TituloNoticia</span></strong>
                    <div class="mb-1"><span>@noticia.FchPublicacion</span></div>
                    <p class="card-text" id="descripcionNoticia"><span>@noticia.resumenNoticia</span></p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" onclick="redireccionarNoticia('@noticia.IdNoticia')">Leer más</button>
                </div>
            </div>
        }

    }
</div>

