@{
    ViewData["Title"] = "Ver Noticia";
}
<div class="container pt-5">
    <h3>@Model.TituloNoticia</h3>
    <p class="pt-3">
        @Model.DescNoticia - Lorem ipsum dolor sit amet consectetur adipiscing, elit magna tellus hendrerit sociosqu nec, odio ut posuere placerat potenti. Pharetra quisque parturient ligula mollis, vestibulum eu mus facilisis quam, nullam netus rutrum. Facilisi laoreet senectus cursus vitae congue lectus porta nec in nisi sociosqu, blandit urna placerat dui etiam lacus non fringilla mus erat duis, conubia dictum potenti sed aliquam ultricies taciti phasellus risus vulputate.
        Consequat pretium natoque phasellus curabitur sagittis primis molestie habitasse purus habitant, cubilia magna eleifend venenatis torquent pharetra sapien mollis iaculis. Velit quam cum facilisi dignissim accumsan commodo lobortis ornare, netus justo placerat mattis lacinia faucibus fermentum imperdiet, himenaeos cursus curabitur conubia mi vivamus sem. Dictum habitant ad iaculis pretium feugiat, fusce integer rhoncus tellus velit justo, a viverra vitae habitasse. Lorem ipsum dolor sit amet consectetur adipiscing, elit magna tellus hendrerit sociosqu nec, odio ut posuere placerat potenti. Pharetra quisque parturient ligula mollis, vestibulum eu mus facilisis quam, nullam netus rutrum. Facilisi laoreet senectus cursus vitae congue lectus porta nec in nisi sociosqu, blandit urna placerat dui etiam lacus non fringilla mus erat duis, conubia dictum potenti sed aliquam ultricies taciti phasellus risus vulputate.
        Consequat pretium natoque phasellus curabitur sagittis primis molestie habitasse purus habitant, cubilia magna eleifend venenatis torquent pharetra sapien mollis iaculis. Velit quam cum facilisi dignissim accumsan commodo lobortis ornare, netus justo placerat mattis lacinia faucibus fermentum imperdiet, himenaeos cursus curabitur conubia mi vivamus sem. Dictum habitant ad iaculis pretium feugiat, fusce integer rhoncus tellus velit justo, a viverra vitae habitasse. Lorem ipsum dolor sit amet consectetur adipiscing, elit magna tellus hendrerit sociosqu nec, odio ut posuere placerat potenti. Pharetra quisque parturient ligula mollis, vestibulum eu mus facilisis quam, nullam netus rutrum. Facilisi laoreet senectus cursus vitae congue lectus porta nec in nisi sociosqu, blandit urna placerat dui etiam lacus non fringilla mus erat duis, conubia dictum potenti sed aliquam ultricies taciti phasellus risus vulputate.
        Consequat pretium natoque phasellus curabitur sagittis primis molestie habitasse purus habitant, cubilia magna eleifend venenatis torquent pharetra sapien mollis iaculis. Velit quam cum facilisi dignissim accumsan commodo lobortis ornare, netus justo placerat mattis lacinia faucibus fermentum imperdiet, himenaeos cursus curabitur conubia mi vivamus sem. Dictum habitant ad iaculis pretium feugiat, fusce integer rhoncus tellus velit justo, a viverra vitae habitasse.
    </p>
</div>

<div class="container">
    <p>Publicado el: <span>@Model.FchPublicacion</span></p>
</div>

<div class="container pt-3">
    <!-- Formulario para agregar un nuevo comentario -->
    <form id="formulario-comentario" method="post" asp-action="AgregarComentario" asp-controller="Comentario" asp-route-idNoticia="@Model.IdNoticia" class="d-flex pt-3 pb-2">
        <textarea name="DescComentario" rows="2" cols="50" required></textarea>
        <button type="submit">Enviar Comentario</button>
    </form>
</div>
@if (ViewBag.Comentarios != null)
{
    <h3>Comentarios</h3>
    <ul>
        @foreach (var comentario in ViewBag.Comentarios)
        {
            <li>@comentario.DescComentario - @comentario.FchPublicacionComentario</li>
        }
    </ul>
}
else
{
    <p>No hay comentarios para esta noticia.</p>
}
